{% extends "jatic/index.html" %}
{% block head %}
	{{ form.media }}
	<script src="apps{{ MEDIA_URL }}js/jquery.maskedinput-1.2.2.min.js" type="text/javascript"></script>
{% endblock %}
{% block jquery %}
	$("#id_telefone").mask("(99)9999-9999");
	$("textarea").css("width", "42em");
	$(":submit").button();
	$("label[for='id_mensagem']").css('margin-top', '0px').css('position', 'absolute');
	document.getElementById('id_nome').focus();
{% endblock %}
{% block titulo %}
<h1>Entre em contato conosco</h1>
{% endblock %}
{% block conteudo %}
<form method="POST" action="">
	{% csrf_token %}
	<table id="formulario">
	{{ form.as_table }}
	</table>
	<p align="center"><input type="submit" value="Enviar"/></p>
</form>
{% endblock %}
{% block agenda %}
{% endblock %}
