{% extends "jatic/index.html" %}
{% block jquery %}
	$('#left_col').css('width', '800px');
{% endblock %}
{% block titulo %}
<h1>Localiza&ccedil;&atilde;o do JATIC 2010</h1>
{% endblock %}
{% block conteudo %}
	<h2>Localiza&ccedil;&atilde;o:</h2>
	<p><b>Endereço:</b> Av. Senador Argemiro de Figueiredo, 1901 - Itararé CEP: 58104-590, Campina Grande-PB</p>
	<p><b>Telefone para contato:</b> (83) 2101.8800</p>

	<h2>Como chegar ?</h2>
	<p>O campus da FACISA no Itararé está próximo da rodoviária da cidade, aeroporto e shopping center.</p>
	<p>Também é possível chegar à FACISA de transportes públicos, a linha 004 A vem diretamente para o campus.</p>

	<h2>Mapa:</h2>
	<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps/ms?hl=pt-BR&amp;cd=2&amp;ei=QiaaTJ-JNYjeyAXB0rWnDw&amp;sig2=niLg2mh1R-KQ_M1MG46kew&amp;ie=UTF8&amp;view=map&amp;ved=0CBoQpQY&amp;hq=FACISA-Faculdade+de+Ci%C3%AAncias+Sociais+Aplicada&amp;hnear=&amp;source=embed&amp;msa=0&amp;msid=117886101773380929046.000490dd53e8bf73c71c9&amp;ll=-7.241789,-35.867014&amp;spn=0.02052,0.038538&amp;output=embed"></iframe>
	<br/>
	<br/>
	<h2>O CESED:</h2>
	<p style="text-align:justify">
		O Centro de Ensino Superior e Desenvolvimento — Cesed está entre as instituições de maior conceito no cenário educacional regional. 
		Fundado no ano de 1997, em Campina Grande, o Cesed criou em 1999 a Faculdade de Ciências Sociais e Aplicadas — Facisa, sua primeira 
		Instituição de Ensino Superior.
	</p>
	<p style="text-align:justify">
		A marca do Cesed/Facisa tem reconhecido destaque no cenário do ensino superior da Paraíba e do Nordeste, firmada pela excelência do 
		ensino. Hoje, já são mais de dois mil alunos matriculados na Facisa.
	</p>
	<p style="text-align:justify">
		Mediante o fortalecimento e o crescimento da Facisa, o Cesed, na qualidade de mantenedora, fundou mais duas instituições: a 
		Faculdade de Ciências Médicas de Campina Grande — FCM, que funciona com os cursos de Medicina, Enfermagem e Fisioterapia; e 
		a Escola Superior de Aviação Civil — Esac, fundada em 2008, que dispõe dos cursos de Ciências Aeronáuticas e Comissário de Voo.
	</p>
	<p style="text-align:justify">
		Todos os cursos das três instituições, inclusive os de pós-graduações (lato sensu), nas mais diversas áreas do saber, possuem uma 
		infraestrutura adequada às exigências da educação contemporânea, com salas amplas e climatizadas, laboratórios bem equipados e 
		bibliotecas com acervo atualizado, além de um corpo docente qualificado
	</p>
{% endblock %}
{% block agenda %}
{% endblock %}